<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
<meta charset="UTF-8">
<title>Rivoli Confeitaria | Pedidos</title>
<link href="/styles/page-pedidos-listar.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lemonada:wght@600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="/scripts/maskmoney.min.js"></script>
</head>
<body>

	<div class="finalizar-pedido-page">
		<div class="container">
			<div class="menu">
				<div class="title">
					<h2>Pedidos</h2>
				</div>
				<div class="icons">
					<span class="quantidade-de-itens" th:if="${quantidadeDeItens > 0}" th:text="${quantidadeDeItens}"></span>
					<a href="#">
						<img src="/imagens/icons/cart.svg" alt="Carrinho"/>
					</a>
					<a href="#">
						<img src="/imagens/icons/dots.svg" alt="Carrinho"/>
					</a>
				</div>
			</div>
			<form class="formulario" th:action="@{/pedidos/finalizar-pedido}" method="post" th:object="${pedido}">
				<input type="hidden" th:field="*{id}" />
				<input type="hidden" th:field="*{usuario.id}" />
				<input type="hidden" th:field="*{itens}" />
				<input type="hidden" th:field="*{modalidade}" />
				
				<div class="pedidos-content">
					<div class="itens" th:each="item: ${pedido.itens}">
						<p class="produto-nome" th:text="${item.produto.nome}" />
						<p class="quantidade" th:text="${item.quantidade} + ' x R$ ' + ${#numbers.formatDecimal(item.produto.valor, 0, 'POINT', 2, 'COMMA')}" />
						<p class="valor-total" th:text="'R$ ' + ${#numbers.formatDecimal(item.quantidade * item.produto.valor, 0, 'POINT', 2, 'COMMA')}" />
						<img class="produto-imagem" src="/imagens/fotos/img.jpg" />
					</div>
				</div>
				
				<div class="seletores">
					<div class="forma-de-entrega">
						<select class="select" id="entrega" th:field="*{entrega.id}">
							<option th:each="entrega: ${formaentrega}" th:value="${entrega.id}" th:text="${entrega.formaEntrega}" />
						</select>
					</div>
					<div class="forma-de-pagamento">
						<select class="select" id="pagamento" th:field="*{pagamento.id}">
							<option th:each="pagamento: ${formapagamento}" th:value="${pagamento.id}" th:text="${pagamento.formaPagamento}" />
						</select>
					</div>
				</div>
				
				<div class="endereco-entrega">
					<input id="endereco" type="hidden" th:field="*{endereco.id}" />
					<p>Endereço de entrega</p>
					<p th:text="${pedido.endereco.logradouro} + ', ' + ${pedido.endereco.numero}" />
				</div>
				
				<div class="dinheiro">
					<label for="dinheiro">Troco para:</label>
					<input type="text" id="dinheiro" th:field="*{dinheiro}" placeholder="R$ 0,00" />
					<p class="text-danger" th:if="${#fields.hasErrors('dinheiro')}" th:errors="*{dinheiro}"></p>
				</div>
				
				<div class="informacoes-finais">
					<div class="subtotal">
						<p>Subtotal:</p>
						<p th:text="'R$ ' + ${#numbers.formatDecimal(pedido.valorTotal, 0, 'POINT', 2, 'COMMA')}" />
					</div>
					<div class="taxa-entrega" th:object="${endereco}">
						<p>Taxa de entrega:</p>
						<p id="taxaentrega" th:if="${taxaentrega}" th:text="'R$ ' + ${#numbers.formatDecimal(taxaentrega, 0, 'POINT', 2, 'COMMA')}" />
					</div>
					<div class="valor-final">
						<p>Total:</p>
						<p id="valorfinal" th:text="'R$ ' + ${#numbers.formatDecimal(valorcomtaxa, 0, 'POINT', 2, 'COMMA')}" />
						<input id="valortotal" type="hidden" th:field="*{valorTotal}" />
					</div>
				</div>
				
				<div class="horarios">
					<p>Horários de atendimento:</p>
					<p>Segunda a sexta-feira de 08:00 às 12:00 e de 14:00 às 17:00</p>
					<p>Sábado de 08:00 às 12:00</p>
				</div>
				
				<div class="buttons-container">
					<a th:href="@{/produtos/lista}">Continuar comprando<img src="/imagens/icons/cesta.svg" alt="Continuar comprando" /></a>
					<button type="submit" id="submit">Finalizar pedido<img src="/imagens/icons/ok.svg" alt="Continuar comprando" /></button>
				</div>
				
			</form>
		</div>
	</div>
	
	<script>
	//Função para não deixar o usuário escolher uma quantidade maior que a disponível
	$(document).ready(function(){
		
		var entrega = $('#entrega option:selected').text();
		var pagamento = $('#pagamento option:selected').text();
		if (entrega == 'Balcão') {
			$('.endereco-entrega').hide();
			$('.taxa-entrega').hide();
			//Retira o valor da taxa de entrega do valor total
			var str = $('#valorfinal').text();
			var valor = str.split(' ');
			var valorFinalFloat = (valor[1]).replace(',', '.');
			var valorTotal = parseFloat(valorFinalFloat).toFixed(2);
			var str2 = $('#taxaentrega').text();
			var valor2 = str2.split(' ');
			var valorTaxaFloat = (valor2[1]).replace(',', '.');
			var valorTaxa = parseFloat(valorTaxaFloat).toFixed(2);
			var valorAtual = valorTotal - valorTaxa;
			$('#valorfinal').text('R$ ' + parseFloat(valorAtual).toFixed(2).replace('.', ','));
		}
		if (pagamento == 'Cartão') {
			$('.dinheiro').hide();
		}
		
		//Limpando o input "Troco para:"
		$('#dinheiro').val('');
		
		//Ao mudar a forma de entrega, mostra ou não o endereço de entrega
		$('#entrega').on('change', function(){
			if ($('#entrega option:selected').text() == 'Balcão') {
				$('.endereco-entrega').hide();
				$('.taxa-entrega').hide();
				//Retira o valor da taxa de entrega do valor total
				var str = $('#valorfinal').text();
				var valor = str.split(' ');
				var valorFinalFloat = (valor[1]).replace(',', '.');
				var valorTotal = parseFloat(valorFinalFloat).toFixed(2);
				var str2 = $('#taxaentrega').text();
				var valor2 = str2.split(' ');
				var valorTaxaFloat = (valor2[1]).replace(',', '.');
				var valorTaxa = parseFloat(valorTaxaFloat).toFixed(2);
				var valorAtual = valorTotal - valorTaxa;
				$('#valorfinal').text('R$ ' + parseFloat(valorAtual).toFixed(2).replace('.', ','));
			} else {
				$('.endereco-entrega').show();
				$('.taxa-entrega').show();
				//Adiciona o valor da taxa de entrega ao valor total
				var str = $('#valorfinal').text();
				var valor = str.split(' ');
				var valorFinalFloat = (valor[1]).replace(',', '.');
				var valorTotal = parseFloat(valorFinalFloat).toFixed(2);
				var str2 = $('#taxaentrega').text();
				var valor2 = str2.split(' ');
				var valorTaxaFloat = (valor2[1]).replace(',', '.');
				var valorTaxa = parseFloat(valorTaxaFloat).toFixed(2);
				var valorAtual = (parseFloat(valorTotal) + parseFloat(valorTaxa)).toFixed(2);
				$('#valorfinal').text('R$ ' + parseFloat(valorAtual).toFixed(2).replace('.', ','));
			}
		});
		
		//Ao mudar a forma de pagamento, mostra ou não o campo "Troco para:"
		$('#pagamento').on('change', function(){
			if ($('#pagamento option:selected').text() == 'Cartão') {
				$('#dinheiro').val('');
				$('.dinheiro').hide();
			} else {
				$('.dinheiro').show();
			}
		});
		
		//Adicionando a máscara de dinheiro ao input "Troco para:"
		$('#dinheiro').maskMoney({
			prefix: "R$ ",
			decimal: ",",
			thousands: "."
		});
		
		//Ao submeter, a máscara do input "Troco para:" é tratada para valores no formato #,###.##
		$('form.formulario').on('submit', function(){
			var str = $('#valorfinal').text();
			var valor = str.split(' ');
			var valorTotal = parseFloat(valor[1]).toFixed(2).replace(',', '.');
			if ($('#dinheiro').val() == '') {
				$('#dinheiro').val(parseFloat(valorTotal).toFixed(2));
			} else {
				var str = $('#dinheiro').val();
				var valor = str.split(' ');
				$('#dinheiro').val(parseFloat(valor[1]).toFixed(2).replace(',', '.'));
			}
			$('#valortotal').val(parseFloat(valorTotal).toFixed(2));
			if ($('#pagamento option:selected').html() == 'Cartão') {
				$('#dinheiro').val('0.0');
			}
			
		});
	})
	</script>
	
</body>
</html>