<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
<meta charset="UTF-8">
<title>Rivoli Confeitaria | Menu</title>
<link href="/styles/page-selecionar-item.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lemonada:wght@600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

	<div class="selecionar-item-page">
		<div class="container">
			<div class="menu">
				<div class="title">
					<h2>Adicionar Item</h2>
				</div>
				<div class="icons">
					<span class="quantidade-de-itens" th:if="${quantidadeDeItens > 0}" th:text="${quantidadeDeItens}"></span>
					<a th:href="@{/pedidos/listar}">
						<img src="/imagens/icons/cart.svg" alt="Carrinho"/>
					</a>
					<a href="#">
						<img src="/imagens/icons/dots.svg" alt="Carrinho"/>
					</a>
				</div>
			</div>
			<div class="item-pedido">
				<form action="/item-pedido/comprar" method="post" th:object="${itempedido}">
					<div class="produto">
						<input type="hidden" th:field="*{produto.id}" />
						<img class="produto-imagem" src="/imagens/fotos/img.jpg" />
						<h4 class="produto-nome" th:text="${itempedido.produto.nome}"></h4>
						<p class="produto-descricao" th:text="${itempedido.produto.descricao}" />
						<input type="number" id="quantidade" class="produto-quantidade" th:field="*{quantidade}" min="1" th:max="${itempedido.produto.quantidadeDisponivel}" />
						<p id="valor" class="produto-valor" th:text="'R$ ' + ${#numbers.formatDecimal(itempedido.produto.valor, 0, 'POINT', 2, 'COMMA')}" />
					</div>
					<div class="buttons-container">
						<button type="submit">Adicionar ao carrinho <img src="/imagens/icons/add_shopping_cart.svg" alt="Adicionar ao carrinho"></button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<script>
	//Função para não deixar o usuário escolher uma quantidade maior que a disponível
	$(document).ready(function(){
		$("#quantidade").keyup(function() {
			var max = $("#quantidade").attr('max');
			var valor = $("#quantidade").val().trim();
			
			if(valor > max) {
				$("#quantidade").val(max);
			}
		})
	})
	
	var str = $('#valor').html();
	var valor = str.split(" ");
	//Função para alterar o valor quando o usuário altera a quantidade
	$(document).ready(function(){
		$('#quantidade').bind('keyup mouseup', function(){
			var qtde = $('#quantidade').val().trim();
			$('#valor').text('R$ ' + (parseFloat(valor[1]) * qtde).toFixed(2).replace('.', ','));
		})
	})
	</script>
	
</body>
</html>