<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
<meta charset="UTF-8">
<title>Rivoli Confeitaria: Carrinho</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<link href="/fontawesome/css/fontawesome.css" rel="stylesheet">
<link href="/fontawesome/css/brands.css" rel="stylesheet">
<link href="/fontawesome/css/solid.css" rel="stylesheet">
</head>
<body>
	<div th:replace="fragmentos/fragmentos :: header"></div>
	<div th:replace="fragmentos/fragmentos :: carrinho"></div>
	
	<form action="/pedidos/efetuar" method="post" th:object="${pedido}">
		<div class="d-flex flex-wrap align-content-center m-4 col-lg-4 col-md-6 col-sm-8 col-xs-12">
			<div class="col-11 rounded shadow m-2" th:each="item: ${pedido.item}">
				<img class="float-left m-2" style="width: 80px; height: 80px; border: 1px, solid, #000000" scr="/imagens/bolo-caseiro=home-wp.jpg"/>
				<h6 class="my-2" th:text="${item.produto.nome}"></h6>
				<div class="mx-auto col-md-12">
					<span for="qtde" class="float-left mr-1">Quantidade: <span th:text="${item.quantidade}"></span></span>
					<h5 class="d-flex justify-content-end" th:text="'R$ ' + ${#numbers.formatDecimal(item.produto.valor * item.quantidade, 0, 'POINT', 2, 'COMMA')}"></h5>
				</div>
			</div>
		</div>
<!-- 		<span th:field="*{valorTotal}" th:text="${#aggregates.sum(item.produto.valor)}"></span> -->
		
		<div class="d-flex flex-wrap justify-content-center m-4 col-lg-4 col-md-6 col-sm-8 col-xs-12 rounded shadow m-2">
			<div class="row col-md-12">
				<div class="form-group col-md-6">
					<label for="slt-entrega">Forma de entrega:</label>
					<select id="slt-entrega" class="form-control" th:field="*{entrega.id}">
						<option th:each="entrega: ${formasDeEntrega}" th:value="${entrega.id}" th:text="${entrega.formaEntrega}" />
					</select>
				</div>
				<div class="col-md-6">
					<label for="slt-pagto">Forma de pagamento:</label>
					<select id="slt-pagto" class="form-control" th:field="*{pagamento.id}">
						<option th:each="pagamento: ${formasDePagamento}" th:value="${pagamento.id}" th:text="${pagamento.formaPagamento}" />
					</select>
				</div>
			</div>
		</div>

		<div class="d-flex flex-wrap align-content-center m-4 col-lg-4 col-md-6 col-sm-8 col-xs-12 rounded shadow m-2">
			<input type="hidden" th:field="*{endereco.id}"/>
			<p class="my-2" th:text="${endereco.logradouro} + ', ' + ${endereco.numero} + (${endereco.complemento} != '' ? ' - ' + ${endereco.complemento} : '')"></p>
			<p th:text="${endereco.bairro} + ' - ' + ${endereco.cidade}"></p>
			<p th:text="'CEP: ' + ${endereco.cep}"></p>
			<p th:text="(${endereco.referencia} != '' ? ${endereco.referencia} : '')"></p>
			<div class="d-flex flex-wrap justify-content-end my-2">
				<a class="btn btn-info mx-2" th:href="@{/endereco/alterar-endereco-entrega}">Alterar endereço de entrega</a>
			</div>
		</div>
		
		<div class="d-flex justify-content-end mr-4 mb-3">
			<input type="submit" class="btn btn-success" value="Confirmar pedido">
		</div>
	</form>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>
</body>
</html>