<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
<meta charset="UTF-8">
<title>Rivoli Confeitaria | Menu</title>
<link href="/styles/page-produtos-listar.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lemonada:wght@600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>

	<div class="produtos-page">
		<div class="container">
			<div class="menu">
				<div class="title">
					<h2>Menu</h2>
				</div>
				<div class="icons">
					<a href="#">
						<img src="/imagens/icons/cart.svg" alt="Carrinho"/>
					</a>
					<a href="#">
						<img src="/imagens/icons/dots.svg" alt="Carrinho"/>
					</a>
				</div>
			</div>
			<div class="produtos-content">
				<div th:each="categoria: ${categorias}" th:if="${categoria.getProdutos().size() > 0}">
					<h2 class="categoria" th:text="${categoria.nome}"></h2>
					<div class="produto" th:each="produto: ${categoria.produtos}">
						<img class="produto-imagem" src="/imagens/fotos/img.jpg" />
						<h4 class="produto-nome" th:text="${produto.nome}"></h4>
						<p class="produto-descricao" th:text="${produto.descricao}" />
						<p class="produto-quantidade" th:text="'Qtde: ' + ${produto.quantidadeDisponivel}"/>
						<p class="produto-valor" th:text="'R$ ' + ${#numbers.formatDecimal(produto.valor, 0, 'POINT', 2, 'COMMA')}" />
					</div>
				</div>
			</div>
		</div>
	</div>


<!-- 	<div th:replace="fragmentos/fragmentos :: header"></div> -->
<!-- 	<div th:replace="fragmentos/fragmentos :: carrinho"></div> -->

<!-- 	<div class="container-flex align-items-start"> -->
<!-- 		<div class="d-flex flex-wrap justify-content-center m-4"> -->
<!-- 			<div class="col-md-5 col-sm-12 rounded shadow m-2" th:each="produto: ${produtos}"> -->
<!-- 				<img class="float-left m-3" style="width: 150px; height: 150px; border: 1px, solid, #000000" scr="/imagens/bolo-caseiro=home-wp.jpg"/> -->
<!-- 				<h5 class="my-2" th:text="${produto.nome}"></h5> -->
<!-- 				<p class="text-info" th:text="(${produto.descricao} != '' ? ${produto.descricao} : '<no description>')"></p> -->
<!-- 				<div class="mx-auto col-md-12"> -->
<!-- 					<p class="float-left"  th:text="'Disponível: ' + ${produto.quantidadeDisponivel}"></p> -->
<!-- 					<h5 class="d-flex justify-content-end" th:text="'R$ ' + ${#numbers.formatDecimal(produto.valor, 0, 'POINT', 2, 'COMMA')}"></h5> -->
<!-- 				</div> -->
<!-- 				<form th:action="@{/item-pedido/adicionarItemCompra/{id}(id=${produto.id})}" method="post" th:object="${itempedido}"> -->
<!-- 					<div class="d-flex justify-content-end mt-4"> -->
<!-- 						<input class="form-control col-lg-2" type="number" th:field="*{quantidade}" min="1" th:max="${produto.quantidadeDisponivel}"> -->
<!-- 						<a class="btn btn-info mx-2 col" href="#">Fazer reserva</a> -->
<!-- 						<input type="submit" class="btn btn-primary form-control col" value="Comprar"></a> -->
<!-- 					</div> -->
<!-- 				</form> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</div> -->

</body>
</html>