<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
<meta charset="UTF-8">
<title>Rivoli Confeitaria | Menu</title>
<link href="/styles/page-produtos-listar.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lemonada:wght@600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>

	<div class="produtos-page">
		<div class="container">
			<div class="menu">
				<div class="title">
					<h2>Menu</h2>
				</div>
				<div class="icons">
					<a th:href="@{/pedidos/listar}">
						<img src="/imagens/icons/cart.svg" alt="Carrinho"/>
					</a>
					<a href="#">
						<img src="/imagens/icons/dots.svg" alt="Carrinho"/>
					</a>
				</div>
			</div>
			<div class="produtos-content">
				<div th:each="categoria: ${categorias}" th:if="${categoria.getProdutos().size() > 0}">
					<h2 class="categoria" th:text="${categoria.nome}"></h2>
					<a class="produto" th:href="@{/item-pedido/comprar/{id}(id=${produto.id})}" th:each="produto: ${categoria.produtos}">
						<img class="produto-imagem" src="/imagens/fotos/img.jpg" />
						<h4 class="produto-nome" th:text="${produto.nome}"></h4>
						<p class="produto-descricao" th:text="${produto.descricao}" />
						<p class="produto-quantidade" th:text="'Qtde: ' + ${produto.quantidadeDisponivel}"/>
						<p class="produto-valor" th:text="'R$ ' + ${#numbers.formatDecimal(produto.valor, 0, 'POINT', 2, 'COMMA')}" />
					</a>
				</div>
			</div>
		</div>
	</div>

</body>
</html>