<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
<meta charset="UTF-8">
<title>Rivoli Confeitaria | Home</title>
<link href="/styles/global.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
</head>
<body>

	<div id="page-landing" class="d-flex justify-content-center align-items-center">
		<div id="page-landing-content" class="container">
			<div class="logo-container text-center">
				<img alt="Rivoli Confeitaria" src="/imagens/logos/logo.svg" />
				<h2>Adoce a vida com amor</h2>
			</div>
			<img class="imagem-logo" alt="Rivoli Confeitaria" src="/imagens/logos/homeimage.svg">
			
			<div class="buttons-container d-flex justify-content-center">
				<a class="d-flex justify-content-center align-items-center" th:href="@{/usuario/sign-in}">
					<img alt="Cadastre-se" src="/imagens/icons/cadastre-se.svg" />
					CADASTRE-SE
				</a>
				<a class="d-flex justify-content-center align-items-center" th:href="@{/login}">
					<img alt="Entrar" src="/imagens/icons/entrar.svg" />
					ENTRAR
				</a>
			</div>
		</div>
	</div>
	
</body>
</html>