<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
<meta charset="UTF-8">
<title>Rivoli Confeitaria | Login</title>
<link rel="stylesheet" href="/styles/page-login.css">
<link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

	<div class="background">
		<img src="/imagens/logos/logo.svg" alt="Rivoli Confeitaria" />
	</div>
	<div class="login-page">
		<div class="login-container">
			<h2 class="titulo">Bem-vindo(a)!</h2>
			<div class="formulario">
				<form action="/login" method="post">
					<div class="username">
						<input type="text" name="username" placeholder="Email" />
					</div>
					<div class="senha">
						<input type="password" name="password" placeholder="Senha" />
					</div>
					<div class="buttons-container">
						<button type="submit" id="submit-button">ENTRAR<img alt="Entrar" src="/imagens/icons/enviar.svg"></button>
					</div>
				</form>
			</div>
		</div>
	</div>

</body>
</html>