:root {
	font-size: 60%;
	--color-background-lighter: #F5E5BC;
	--color-background-light: #E6BC53;
	--color-background: #DAA520;
	--color-background-button: #4D8061;
	--color-background-item: #F1F1F1;
	--color-primary: #396049;
	--color-black: #000000;
	--color-white: #FFFFFF;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100vh;
}

body {
	background-image: url('/imagens/bakery/bakery-wallpaper.jpg');
	display: flex;
	align-items: center;
	justify-content: center;
}

body,
input,
button,
textarea {
	font: 500 1.6rem 'Roboto';
}

.d-flex {
	display: flex;
}

.align-items-start {
	align-items: flex-start;
}

.align-items-center {
	align-items: center;
}

.justify-content-start {
	justify-content: flex-start;
}

.justify-content-center {
	justify-content: center;
}

.text-center {
	text-align: center;
}

.container {
	width: 90vw;
	max-width: 700px;
}

#page-landing {
	width: 100vw;
	height: 100vh;
	color: #123332;
}

.logo-container {
	margin-top: 2.0rem;
	margin-bottom: 3.2rem;
}

.logo-container img {
	height: 8rem;
}

.logo-container h2 {
	font-weight: 500;
	font-size: 2.4rem;
	margin-top: 0.8rem;
	line-height: 4.6rem;
	font: 400 2.6rem Satisfy;
}

.imagem-logo {
	width: 100%;
}

.buttons-container {
	margin: 3.2rem 0;
}

.buttons-container a {
	width: 30rem;
	height: 10.4rem;
	border-radius: 0.8rem;
	font: 700 1.8rem Archivo;
	text-decoration: none;
	color: #FFFFFF;
	background-color: var(--color-background-button);
	transition: all 0.2s ease;
}

.buttons-container a:first-child {
	margin-right: 1.6rem;
}

.buttons-container a:hover {
	background-color: var(--color-primary);
	box-shadow: 2px 2px 8px var(--color-black);
	transform: scale(1.05);
}

.buttons-container a:active {
	background-color: var(--color-primary);
}

.buttons-container a img {
	margin-right: 0.8rem;
}

@media (min-width: 700px) {
	#page-landing-content {
		max-width: 1100px;
		display: grid;
		grid-template-rows: 350px 1fr;
		grid-template-columns: 2fr 1fr 1fr;
		grid-template-areas: "logo imagem imagem" "buttons buttons buttons";
	}
	.logo-container {
		grid-area: logo;
		align-self: center;
		text-align: left;
		margin: 0;
	}
	.logo-container h2 {
		text-align: initial;
		font-size: 3.6rem;
	}
	.logo-container img {
		height: 100%;
	}
	.imagem-logo {
		grid-area: imagem;
		max-width: 90%;
		justify-content: flex-start;
	}
	.buttons-container {
		grid-area: buttons;
		justify-content: flex-start;
	}
	.buttons-container a {
		font-size: 2.0rem;
	}
	
}