:root {
	font-size: 60%;
	--color-background: #E8A9C5;
	--color-productslist-background: #EBEBEB;
	--color-primary-lighter: #DEBADC;
	--color-primary-light:#B663B0;
	--color-primary: #8B4186;
	--color-primary-dark: #52274F;
	--color-primary-darker: #341832;
	--color-text-primary: #C93678;
	--color-text-secondary: #524050;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100vh;
}

body {
	background-color: var(--color-productslist-background);
	display: flex;
	align-items: center;
	justify-content: center;
}

body,
input,
button,
textarea {
	font: 300 1.8rem Roboto;
}

.finalizar-pedido-page {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: felx-start;
	color: #000000;
}

.container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.menu {
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-top: 0;
	width: 100vw;
	height: 10vh;
	background-color: var(--color-background);
}

.menu h2 {
	color: var(--color-primary-dark);
	font: 600 3.8rem Lemonada;
	margin: -3.6rem 1.8rem;
}

.menu .icons {
	display: flex;
	align-items: center;
	margin-right: 1.0rem;
}

.icons img {
	transition: all 0.2s ease;
}

.icons a:first-child img {
	margin-right: 2.0rem;
}

.icons img:hover {
	transform: scale(1.2);
}

.formulario {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 10.4rem;
}

.pedidos-content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	max-width: 550px;
}

.itens {
	display: grid;
	grid-column-gap: 5px;
	grid-template-areas:
		'nome nome imagem'
		'quantidade valor imagem';
	grid-template-rows: 50% 50%;
	grid-template-columns: auto auto min-content;
	width: 95vw;
	max-width: 550px;
	padding: 0.2rem 1.2rem;
	border-top: 1px solid #B1B1B1;
	border-bottom: 1px solid #B1B1B1;
	margin-top: -1px;
}

.itens img {
	border-radius: 0.6rem;
}

.produto-nome {
	grid-area: nome;
	text-align: initial;
	margin-top: 1.0rem;
	font: 500 1.8rem Roboto;
	color: #000000;
}

.quantidade {
	grid-area: quantidade;
	display: flex;
	text-align: initial;
	align-items: flex-end;
	margin-bottom: 1.0rem;
	font: 300 1.6rem Roboto;
	color: #000000;
}

.valor-total {
	grid-area: valor;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	margin-bottom: 1.0rem;
	font: 300 2.2rem Roboto;
	color: #000000;
}

.produto-imagem {
	grid-area: imagem;
	width: 80px;
	height: 80px;
	margin: 1.0rem;
	border: 1px solid #000000;
}

.seletores {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 95vw;
	max-width: 550px;
	margin: 0.6rem;
	border-top: 1px solid #B1B1B1;
	border-bottom: 1px solid #B1B1B1;
}

.forma-de-entrega,
.forma-de-pagamento {
	padding: 1.0rem 0;
}

.select {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44vw;
	max-width: 265px;
	height: 4rem;
	margin: 0 0.4rem;
	font: 300 1.8rem Roboto;
	text-align-last: center;
	border: 1px solid #B1B1B1;
	border-radius: 5px;
}

.select:hover {
	outline: none;
	border: none;
	box-shadow: 1px 1px 5px var(--color-primary-light);
}

.select:focus {
	outline: none;
	border: 2px solid var(--color-primary-light);
}

.select option {
	margin: 2.0rem;
	font: 300 1.8rem Roboto;
}

.endereco-entrega {
	display: block;
	width: 95vw;
	max-width: 550px;
	border-top: 1px solid #B1B1B1;
	border-bottom: 1px solid #B1B1B1;
	font: 300 1.8rem Roboto;
	color: #000000;
	padding: 0.6rem 0.8rem;
}

.endereco-entrega p {
	line-height: 2.6rem;
}

.dinheiro {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 95vw;
	max-width: 550px;
	height: 4rem;
	margin: 0.6rem;
	padding: 3.0rem 1.0rem;
	font: 300 1.8rem Roboto;
	text-align-last: end;
}

.dinheiro label {
	margin-right: 0.4rem;
}

.dinheiro input {
	width: 150px;
	height: 4rem;
	padding: 1.0rem;
	border: 1px solid #B1B1B1;
	border-radius: 5px;
}

.dinheiro input:hover {
	outline: none;
	border: none;
	box-shadow: 1px 1px 5px var(--color-primary-light);
}

.dinheiro input:focus {
	outline: none;
	border: 2px solid var(--color-primary-light);
}

.informacoes-finais {
	width: 95vw;
	max-width: 550px;
}

.informacoes-finais div {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0 1.0rem;
}

.informacoes-finais div p:first-child {
	margin-right: 0.6rem;
}

.valor-final {
	margin-top: 1.0rem;
	font: 500 2.2rem Roboto;
}

.horarios {
	margin: 1.0rem 0;
	width: 95vw;
	max-width: 550px;
}

.horarios p {
	display: flex;
	justify-content: center;
	align-items: center;
	font: 500 1.6rem Roboto;
	color: var(--color-primary);
}

.buttons-container {
	display: flex;
	justify-content: center;
	margin: 3.2rem 0;
}

.buttons-container a,
.buttons-container button {
	width: 22.5rem;
	height: 9.0rem;
	border-radius: 0.8rem;
	font: 700 1.6rem Archivo;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: #FFFFFF;
	background-color: var(--color-primary);
	border: none;
	transition: all 0.2s ease;
}

.buttons-container a:first-child {
	margin-right: 1.6rem;
}

.buttons-container a:hover,
.buttons-container button:hover {
	background-color: var(--color-primary-dark);
	transform: scale(1.05);
	box-shadow: 3px 3px 8px #000000;
}

.buttons-container a img,
.buttons-container button img {
	margin-left: 0.8rem;
}

@media (min-width: 1125px) {
	.formulario {
		display: grid;
		grid-template-areas:
			'itens seletores'
			'itens endereco'
			'itens dinheiro'
			'itens informacoes'
			'horarios buttons';
		grid-column-gap: 10px;
		grid-template-rows: auto auto auto auto auto;
		grid-template-columns: auto auto;
	}
	
	.pedidos-content {
		grid-area: itens;
		display: flex;
		justify-content: center;
		align-items: flex-start;
	}
	
	.seletores {
		grid-area: seletores;
		margin-top: 0;
	}
	
	.endereco-entrega {
		grid-area: endereco;
	}
	
	.dinheiro {
		grid-area: dinheiro;
	}
	
	.informacoes-finais {
		grid-area: informacoes;
	}
	
	.horarios {
		grid-area: horarios;
	}
	
	.buttons-container {
		grid-area: buttons;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
}