:root {
	font-size: 60%;
	--color-background: #E8A9C5;
	--color-productslist-background: #EBEBEB;
	--color-primary-lighter: #DEBADC;
	--color-primary-light:#B663B0;
	--color-primary: #8B4186;
	--color-primary-dark: #52274F;
	--color-primary-darker: #341832;
	--color-text-primary: #C93678;
	--color-text-secondary: #524050;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100vh;
}

body {
	background-color: var(--color-productslist-background);
	display: flex;
	align-items: center;
	justify-content: center;
}

body,
input,
button,
textarea {
	font: 500 1.6rem 'Roboto';
}

.finalizar-pedido-page {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: felx-start;
	color: var(--color-text-primary);
}

.container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.menu {
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-top: 0;
	width: 100vw;
	height: 10vh;
	background-color: var(--color-background);
}

.menu h2 {
	color: var(--color-primary-dark);
	font: 600 3.8rem Lemonada;
	margin: -3.6rem 1.8rem;
}

.menu .icons {
	display: flex;
	align-items: center;
	margin-right: 1.0rem;
}

.icons img {
	transition: all 0.2s ease;
}

.icons a:first-child img {
	margin-right: 2.0rem;
}

.icons img:hover {
	transform: scale(1.2);
}

.pedidos-content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 10.4rem;
}

.itens {
	display: grid;
	grid-column-gap: 5px;
	grid-template-areas:
		'nome nome imagem'
		'quantidade valor imagem';
	grid-template-rows: 50% 50%;
	grid-template-columns: auto auto min-content;
	width: 95vw;
	max-width: 600px;
	padding: 0.4rem 1.2rem;
	border-top: 1px solid #B1B1B1;
	border-bottom: 1px solid #B1B1B1;
	margin-top: -1px;
}

.itens img {
	border-radius: 0.6rem;
}

.produto-nome {
	grid-area: nome;
	text-align: initial;
	margin-top: 1.0rem;
	font: 500 1.6rem Roboto;
	color: #000000;
}

.quantidade {
	grid-area: quantidade;
	display: flex;
	text-align: initial;
	align-items: flex-end;
	margin-bottom: 1.0rem;
	font: 300 1.6rem Roboto;
	color: #000000;
}

.valor-total {
	grid-area: valor;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	margin-bottom: 1.0rem;
	font: 300 2.2rem Roboto;
	color: #000000;
}

.produto-imagem {
	grid-area: imagem;
	width: 80px;
	height: 80px;
	margin: 1.0rem;
	border: 1px solid #000000;
}

.buttons-container {
	display: flex;
	justify-content: center;
	margin: 3.2rem 0;
}

.buttons-container a {
	width: 30rem;
	height: 10.4rem;
	border-radius: 0.8rem;
	font: 700 1.8rem Archivo;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: #FFFFFF;
	background-color: var(--color-primary);
	transition: all 0.2s ease;
}

.buttons-container a:first-child {
	margin-right: 1.6rem;
}

.buttons-container a:hover {
	background-color: var(--color-primary-dark);
	transform: scale(1.1);
}

.buttons-container a img {
	margin-right: 0.8rem;
}

@media (min-width: 700px) {
	.produtos-page,
	.container {
		width: 100%;
	}
	
}